@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: "Cabin", sans-serif;
  font-family: "Cookie", cursive;
  font-family: "Handlee", cursive;
  font-family: "Hubballi", cursive;
}

@media screen and (max-width: 767px) {
  /* barra de navegacion */
  .logo {
    width: 100px;
    height: auto;
  }
  .container-fluid {
    background-color: white;
  }
  /* letras del menu */
  .nav-item {
    color: black;
    font-size: 15px;
    margin-left: 30px;
  }
  .nav-item a {
    color: black;
  }
  .nav-item a:hover {
    background-color: black;
    color: white;
    border-radius: 30px;
  }
  .dropdown-item {
    color: black;
    font-size: 15px;
    margin-left: 30px;
    background-color: white;
    color: black;
  }
  .dropdown-item:hover {
    background-color: black;
    color: white;
  }
  /* titulo principal */
  .animate__lightSpeedInLeft {
    font-size: 30px;
    text-align: center;
    color: black;
    margin-top: 10px;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
  }
  /* presentacion del espacio */
  .presentacion {
    display: grid;
    grid-template-columns: 1fr;
    padding: 15px;
    margin: 10px;
  }
  .presentacion p {
    font-size: 15px;
    color: black;
    font-weight: 700;
    margin-top: 20px;
  }
  .presentacion img {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
  /* galeria */
  .galeria {
    background-color: black;
    padding: 10px;
    margin: 10px;
    /* futura galeria de imagenes */
  }
  .galeria h3 {
    font-size: 20px;
    color: white;
    text-align: center;
  }
  .galeria .galeria-img {
    display: grid;
  }
  /* servicios */
  .servicios {
    font-size: 30px;
    color: white;
    background-color: black;
    padding: 15px;
    text-align: center;
  }
  .expl-servicios {
    background-color: navajowhite;
  }
  .expl-servicios .box-servicios {
    display: flex;
    padding: 10px;
    margin: 20px;
  }
  .expl-servicios .box-servicios img {
    width: 100%;
    max-width: 150px;
    height: auto;
    margin-top: 40px;
  }
  .expl-servicios .box-servicios .texto p {
    font-size: 15px;
    color: black;
    margin-left: 20px;
    margin-top: 40px;
  }
  .expl-servicios .box-servicios .texto h3 {
    font-size: 20px;
    text-align: center;
    color: brown;
    font-weight: 700;
    margin-top: 40px;
  }
}
@media screen and (min-width: 768px) {
  /* barra de navegacion */
  .logo {
    width: 100px;
    height: auto;
  }
  .container-fluid {
    background-color: white;
  }
  /* letras del menu */
  .nav-item {
    color: black;
    font-size: 20px;
    margin-left: 30px;
  }
  .nav-item a {
    color: black;
  }
  .nav-item a:hover {
    background-color: black;
    color: white;
    border-radius: 30px;
  }
  .dropdown-item {
    color: black;
    font-size: 20px;
    margin-left: 30px;
    background-color: white;
    color: black;
  }
  .dropdown-item:hover {
    background-color: black;
    color: white;
  }
  /* titulo principal */
  .animate__lightSpeedInLeft {
    font-size: 50px;
    text-align: center;
    color: black;
    margin-top: 20px;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
  }
  /* presentacion del espacio */
  .presentacion {
    display: flex;
    padding: 15px;
    margin: 10px;
  }
  .presentacion p {
    font-size: 22px;
    color: black;
    font-weight: 700;
    margin-top: 20px;
  }
  .presentacion img {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-left: 10px;
  }
  /* galeria */
  .galeria {
    background-color: black;
    padding: 10px;
    margin: 10px;
    /* futura galeria de imagenes */
  }
  .galeria h3 {
    font-size: 40px;
    color: white;
    text-align: center;
  }
  .galeria .galeria-img {
    display: grid;
  }
  /* servicios */
  .servicios {
    font-size: 40px;
    color: white;
    background-color: black;
    padding: 15px;
    text-align: center;
  }
  .expl-servicios {
    background-color: navajowhite;
  }
  .expl-servicios .box-servicios {
    display: flex;
    padding: 10px;
    margin: 20px;
  }
  .expl-servicios .box-servicios img {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin-top: 40px;
  }
  .expl-servicios .box-servicios .texto p {
    font-size: 20px;
    color: black;
    margin-left: 20px;
    margin-top: 40px;
  }
  .expl-servicios .box-servicios .texto h3 {
    font-size: 30px;
    text-align: center;
    color: brown;
    font-weight: 700;
    margin-top: 40px;
  }
  /* natura */
  /* logo de natura y texto */
  .logo-natura {
    padding: 10px;
    display: flex;
  }
  .logo-natura img {
    width: 100%;
    max-width: 300px;
    height: auto;
    padding: 10px;
    margin-left: 150px;
  }
  .logo-natura h1 {
    font-size: 50x;
    color: brown;
    font-weight: 700;
    margin-top: 50px;
  }
  /* img de jabones y cremas */
  .cremas-jabones {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 20px;
    gap: 3px;
  }
  .cremas-jabones .jabones {
    background-color: rgb(196, 248, 196);
    padding: 10px;
    margin-left: 30px;
  }
  .cremas-jabones .jabones img {
    width: 250px;
    height: 250px;
    margin-left: 40px;
    padding: 5px;
  }
  .cremas-jabones .cremas {
    padding: 10px;
    background-color: rgb(248, 222, 195);
  }
  .cremas-jabones .cremas img {
    width: 400px;
    height: 400px;
    padding: 8px;
    margin-left: 30px;
  }
  /* texto de cosmeticos */
  .belleza {
    font-size: 70px;
    color: white;
    text-align: center;
    font-weight: 700;
    padding: 15px;
    background-color: burlywood;
    margin-top: 20px;
  }
  /* org de maquillaje */
  .maquillaje {
    display: flex;
    gap: 10px;
    padding: 20px;
    margin: 10px;
  }
  .maquillaje img {
    width: 250px;
    height: 300px;
  }
  .fragancias {
    display: flex;
    gap: 10px;
    padding: 20px;
    margin: 10px;
  }
  .fragancias img {
    width: 200px;
    height: 250px;
  }
  /* link de natura */
  .link-natura {
    display: flex;
    margin: auto;
    margin-left: 350px;
    margin-top: 30px;
  }
  .link-natura h2 {
    background-color: rgb(196, 248, 196);
    width: 300px;
    height: 213px;
    padding: 20px;
    margin-bottom: 30px;
    font-size: 25px;
    color: black;
    padding: 20px;
    text-align: center;
  }
  .link-natura a img {
    width: 300px;
    height: auto;
  }
  /* bagues */
  /* img-bagues */
  .presentacion-bagues {
    background-color: black;
    padding: 10px;
    width: 600px;
    height: auto;
    margin: auto;
    margin-top: 20px;
  }
  .presentacion-bagues img {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: auto;
  }
  /* que es bagues */
  .expl-bagues {
    width: 800px;
    height: auto;
    margin: auto;
    margin-top: 20px;
  }
  .expl-bagues h1 {
    font-size: 40px;
    color: rgb(5, 201, 135);
    text-align: center;
    font-weight: 700;
  }
  .expl-bagues p {
    font-size: 25px;
    text-align: center;
    color: black;
  }
  .link-bagues {
    background-color: rgb(5, 201, 135);
    width: 800px;
    height: auto;
    padding: 10px;
    margin: auto;
    margin-bottom: 30px;
  }
  .link-bagues h3 {
    font-size: 20px;
    color: white;
    text-align: center;
  }
  .link-bagues a {
    color: black;
    text-decoration: none;
    font-size: 25px;
    margin-left: 90px;
  }
  .link-bagues a:hover {
    color: crimson;
    font-weight: 600;
  }
  /* ingreso al sistema*/
  /* h1-pedir el turno */
  .ingreso {
    font-size: 45px;
    color: rgb(248, 133, 150);
    text-align: center;
    margin-top: 20px;
    font-weight: 600;
    padding: 10px;
  }
  /* ingrese usuario o contraseña */
  #form-1 {
    background-color: black;
    padding: 20px;
    width: 800px;
    height: auto;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .container-ingreso {
    display: flex;
  }
  .container-ingreso h3 {
    color: white;
    font-size: 20px;
    margin-top: 60px;
    text-align: center;
  }
  .container-ingreso .usuario {
    font-size: 20px;
    color: white;
    padding: 15px;
    margin-left: 21px;
    margin-top: 15px;
  }
  .container-ingreso .contraseña {
    font-size: 20px;
    color: white;
    margin-left: 5px;
  }
  .container-ingreso .submit {
    font-size: 20px;
    color: white;
  }
  .container-ingreso .submit input {
    background-color: hotpink;
    border-radius: 30px;
    padding: 7px;
    margin-top: 30px;
    margin-left: 45px;
  }
  .container-ingreso img {
    width: 100%;
    max-width: 250px;
    height: auto;
    margin-top: 100px;
  }
  /* formulario de turno */
  #form-2 {
    background-color: white;
    padding: 15px;
  }
  #form-2 .servicio {
    font-size: 25px;
    color: black;
  }
  #form-2 .servicio p {
    font-weight: 700;
    font-size: 25px;
    color: black;
    background-color: rgb(146, 224, 250);
    border-radius: 20px;
    text-align: center;
    padding: 10px;
  }
  #form-2 .servicio select {
    margin-left: 250px;
    padding: 10px;
    margin-bottom: 10px;
  }
  #form-2 .servicio select option {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
  }
  #form-2 .servicio select option:hover {
    background-color: white;
    color: black;
  }
  #form-2 .dias {
    font-size: 25px;
    color: black;
  }
  #form-2 .dias select {
    margin-left: 320px;
    padding: 10px;
    margin-bottom: 10px;
  }
  #form-2 .dias option {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
  }
  #form-2 .dias option:hover {
    background-color: white;
    color: black;
  }
  #form-2 .dias p {
    font-weight: 700;
    font-size: 25px;
    color: black;
    background-color: rgb(146, 224, 250);
    border-radius: 20px;
    text-align: center;
    padding: 10px;
  }
  #form-2 .hora {
    font-size: 25px;
    color: black;
  }
  #form-2 .hora select {
    margin-left: 350px;
    padding: 10px;
    margin-bottom: 10px;
  }
  #form-2 .hora p {
    font-weight: 700;
    font-size: 25px;
    color: black;
    background-color: rgb(146, 224, 250);
    border-radius: 20px;
    text-align: center;
    padding: 10px;
  }
  #form-2 .hora option {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
  }
  #form-2 .hora option:hover {
    background-color: white;
    color: black;
  }
  #form-2 .pago {
    font-size: 25px;
    color: black;
  }
  #form-2 .pago label {
    font-weight: 700;
    font-size: 25px;
    color: black;
    background-color: rgb(146, 224, 250);
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    display: block;
  }
  #form-2 .pago input {
    margin-left: 130px;
    padding: 10px;
  }
  #form-2 .opinion {
    font-size: 25px;
    color: black;
  }
  #form-2 .opinion p {
    font-weight: 700;
    font-size: 25px;
    color: black;
    background-color: rgb(146, 224, 250);
    border-radius: 20px;
    text-align: center;
    padding: 10px;
  }
  #form-2 .opinion textarea {
    margin-left: 150px;
    padding: 10px;
    margin-bottom: 10px;
  }
  /* h3{
      font-size: 45px;
      color: darkblue;
      text-align: center;
      margin-top: 20px;
      font-weight: 600;
  } */
}/*# sourceMappingURL=style.css.map */