* {
    margin:0;
    padding: 0;


    font-family: 'Cabin', sans-serif;
font-family: 'Cookie', cursive;
font-family: 'Handlee', cursive;
font-family: 'Hubballi', cursive
}

@import "mobile"; 

@media screen and (min-width:768px){
    


/* barra de navegacion */
.logo{
    width: 100px;
    
    height: auto;
}

.container-fluid{
    background-color: white;
}

/* letras del menu */

.nav-item {
    color:black;
    font-size: 20px;
    margin-left: 30px;
    

    a{color:black;

    &:hover{
        background-color: black;
        color:white;
        border-radius: 30px;
    }}
}

 .dropdown-item{
    color:black;
    font-size: 20px;
    margin-left: 30px;
    background-color: white;
    color:black;

    &:hover{
        background-color: black;
        color: white;
    }
}


/* titulo principal */

.animate__lightSpeedInLeft{
  font-size: 50px;
  text-align: center;
  color: black;
  margin-top: 20px;

  animation-duration: 3s;
}

/* presentacion del espacio */

.presentacion{
    display: flex;
    padding: 15px;
    margin: 10px;

    p{
        font-size: 22px;
        color: black;
        font-weight: 700;
        margin-top: 20px;

    }

    img{
        width: 100%;
        max-width: 600px;
        height: auto;
        margin-left: 10px;
    }
}

/* galeria */

.galeria{
    background-color: black;
    padding: 10px;
    margin: 10px;

    h3{
        font-size: 40px;
        color: white;
        text-align: center;
    }
.galeria-img{
    display: grid;
}
    /* futura galeria de imagenes */
}




/* servicios */

.servicios{
    font-size: 40px;
    color: white;
    background-color: black;
    padding: 15px;
    text-align: center;
}

.expl-servicios{
   background-color: navajowhite;

    .box-servicios{ 
        display: flex;
        padding: 10px;
        margin: 20px;
        
      img{
          width: 100%;
          max-width: 500px;
          height: auto;
          margin-top: 40px;
         }
.texto{
         p{
            font-size: 20px;
            color: black;
            margin-left: 20px;
            margin-top: 40px;
         }

         h3{
            font-size: 30px;
            text-align: center;
            color:brown;
            font-weight: 700;
            margin-top: 40px;
         }
    } }}


/* natura */

/* logo de natura y texto */

.logo-natura {
    padding: 10px;
    display: flex;

img{
    width: 100%;
    max-width: 300px;
    height: auto;
    padding: 10px;
    margin-left: 150px;
}

h1{
    font-size: 50x;
    color: brown;
    font-weight: 700;
    margin-top: 50px;

}
}

/* img de jabones y cremas */

.cremas-jabones{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 20px;
    
    gap: 3px;

    .jabones{
        background-color: rgb(196, 248, 196);
        padding: 10px;
        margin-left: 30px;

        img{
            width: 250px;
            height: 250px;
            margin-left: 40px;
            padding: 5px;
        }
    }

    .cremas{
        padding: 10px;
        background-color: rgb(248, 222, 195);

        img{
            width: 400px;
            height: 400px;
            padding: 8px;
            margin-left: 30px;
        }
    }
}
/* texto de cosmeticos */
.belleza{
    font-size: 70px;
    color: white;
    text-align: center;
    font-weight: 700;
    padding: 15px;
    background-color: burlywood;
    margin-top: 20px;
    
}  

/* org de maquillaje */
.maquillaje{
    display: flex;
    gap: 10px;
    padding: 20px;
    margin: 10px;

   

    img{
        width: 250px;
        height: 300px;

    }

}

.fragancias{
    display: flex;
    gap: 10px;
    padding: 20px;
    margin: 10px;

   

    img{
        width: 200px;
        height: 250px;

    }

}


/* link de natura */

.link-natura{ 
    display: flex;
    margin: auto;
    margin-left: 350px;
    margin-top: 30px;
    

    h2{
        background-color: rgb(196, 248, 196);
        width: 300px;
        height: 213px;
        padding: 20px;
        
        margin-bottom: 30px;
        font-size: 25px;
        color:black;
        padding: 20px;
        text-align: center;
       
        
    }

      a img{
        width: 300px;
        height: auto;
    }
}

 /* bagues */

 /* img-bagues */
 .presentacion-bagues {
    background-color: black;
    padding: 10px;
    width: 600px;
    height: auto;
    margin: auto;
    margin-top: 20px;

    img{
        width: 100%;
        max-width: 600px;
        height: auto;
        margin: auto;
    }
 }
/* que es bagues */
 .expl-bagues{
    width: 800px;
    height: auto;
    margin: auto;
    margin-top: 20px;

    h1{
        font-size: 40px;
        color:rgb(5, 201, 135);
        text-align: center;
        font-weight: 700;

    }

    p{
        font-size: 25px;
        text-align: center;
        color:black;
    }
 }

 .link-bagues{
    background-color: rgb(5, 201, 135) ;
    width: 800px;
    height: auto;
    padding: 10px;
    margin: auto;
    margin-bottom: 30px;

    h3{
        font-size: 20px;
        color:white;
        text-align: center;
    }

    a{
        color:black;
        text-decoration: none;
        font-size: 25px;
        margin-left: 90px;

        &:hover{
            color:crimson;
            font-weight: 600;
        }
    }
 }


 /* ingreso al sistema*/
/* h1-pedir el turno */

 .ingreso{
    font-size: 45px;
    color:rgb(248, 133, 150);
    text-align: center;
    margin-top: 20px;
    font-weight: 600;
    padding: 10px;
 }



/* ingrese usuario o registro */


.container-ingreso{
    display: flex;


    #form-ingreso{
        background-color: black;
        padding: 10px;
        width: 500px;
        height: 300px;
        margin-left: 20px;

        h3{
            color: white;
            font-size: 20px;
            text-align: center;
            margin-top: 10px;
        }
        .usuario{
            color: white;
            font-size: 20px;
        }

        .contraseña{
            color: white;
            font-size: 20px;
        }

        .submit input{
            border-radius: 20px;
            padding: 5px;
            background-color:deeppink;
            color: white;

            &:hover{
                background-color: white;
                color: deeppink;
            }

        }

    }





}
















 


/* formulario de turno */
#form-2{
    background-color: white;
    padding: 15px;
    
    .servicio{
        font-size: 25px;
        color: black;
     
        
        p{
            font-weight: 700;
            font-size: 25px;
            color:black;
            background-color:rgb(146, 224, 250);
            border-radius: 20px;
            text-align: center;
            padding: 10px;
    }

   
      select{
        margin-left: 250px;
        padding: 10px;
        margin-bottom: 10px;

        
 
       option{ background-color: black;
               color:white;
               padding: 20px;
               text-align: center;
               
           &:hover {
                background-color:white;
                color: black;
               }
    }
    
    }}

    .dias{
        font-size: 25px;
        color: black;

        select{
            margin-left: 320px;
            padding: 10px;
            margin-bottom: 10px;
          }

          option{ background-color: black;
            color:white;
            padding: 20px;
            text-align: center;
            
          &:hover {
             background-color:white;
             color: black;
            }  }

        p{
            font-weight: 700;
            font-size: 25px;
            color:black;
            background-color:rgb(146, 224, 250);
            border-radius: 20px;
            text-align: center;
            padding: 10px;
    }

    }
    .hora{
        font-size: 25px;
        color: black;

        select{
            margin-left: 350px;
            padding: 10px;
            margin-bottom: 10px;
          }

        p{
            font-weight: 700;
            font-size: 25px;
            color:black;
            background-color:rgb(146, 224, 250);
            border-radius: 20px;
            text-align: center;
            padding: 10px;
    }

    option{ background-color: black;
        color:white;
        padding: 20px;
        text-align: center;
        
      &:hover {
         background-color:white;
         color: black;
        }

    }
    }
    .pago{
        font-size: 25px;
        color: black;

       

        label{
            font-weight: 700;
            font-size: 25px;
            color:black;
            background-color:rgb(146, 224, 250);
            border-radius: 20px;
            text-align: center;
            padding: 10px;
            display: block;
    }

    input{
        margin-left: 130px;
        padding: 10px;
    }

    }

    .opinion{
        font-size: 25px;
        color: black;

        p{
            font-weight: 700;
            font-size: 25px;
            color:black;
            background-color:rgb(146, 224, 250);
            border-radius: 20px;
            text-align: center;
            padding: 10px;
    }


    textarea{
        
            margin-left: 150px;
            padding: 10px;
            margin-bottom: 10px;
        
    }
    }

}

/* h3{
    font-size: 45px;
    color: darkblue;
    text-align: center;
    margin-top: 20px;
    font-weight: 600;
} */






}